
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-fancy {
    @apply bg-gradient-to-br from-primary to-secondary text-white py-2 px-4 
      rounded-tl-lg rounded-tr-lg rounded-bl-lg rounded-br-none shadow-md 
      transition duration-300 ease-in-out transform hover:scale-105;
  }

  .button-ghost {
    @apply px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100;
  }

  .button {
    @apply px-4 py-2 text-sm font-medium text-white bg-primary border border-transparent rounded-md shadow-sm hover:bg-primary/90;
  }
  
  .icon-button-wrapper {
    @apply p-2  rounded-full bg-gray-100 hover:bg-gray-200 border border-gray-300
  }
}

@layer base {
  
  p {
    @apply text-gray-600 text-base leading-6;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-800;
  }

  #nuxt svg {
    @apply text-gray-500;
  }
}

@font-face {
    font-family: 'Barriecito';
    src: url('../fonts/Barriecito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yaldevi';
    src: url('../fonts/Yaldevi-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}